<div id="<%= dom_id end_user %>">
  <p>
    <strong>Username:</strong>
    <%= end_user.username %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= end_user.date_of_birth %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= end_user.email %>
  </p>

</div>
